
mat-toolbar {
    height: 10vh;
    min-height: 10vh;
    max-height: 10vh;
    box-sizing: border-box;

}

.main {
    height: 100vh;
    max-height: 100vh;
    box-sizing: border-box;
    width: 100%;
    /* overflow: hidden; */
}

.main .container {
    height: 90vh;
    margin: 0;
    padding: 10px 15px;
    box-sizing: border-box;
    overflow: hidden;
}
  
/* ************************************* */
